@import '../../assets/styles/config/_mixins.scss';

.pagination {	
	@include flex(.1rem);
		list-style: none;
		height: 20px;
		margin-top: 2rem;
		height: 3rem;		
		
		&__page-item {
			max-height: 100%;
			box-shadow: 0 0.9960451126px 3.9841804504px 0px $color-gray-opacity-15;		
		}

		&__page-item-link {
			@include padd(.5rem);
			@include flex(.1rem) {
				justify-content: center;
				align-items: center;
			};
			width: 3rem;
			height: 100%;
			text-decoration: none;
			color: $color-violet;
			transition: all .3s ease;

			&:hover {
				font-weight: 600;
				color: $color-white;
				background-color: $color-gray;
			}
		}
}
