@import '../../assets/styles/config/_mixins.scss';

.input {
	@include padd(1.6rem 0 0 0);
	position: relative;

	&__label {	
		@include font(1.6, 2.179);
		display: block;
		margin: 0 0 .8rem 0;
	}

	&__input {
		@include padd(1.6rem 3.2rem 1.6rem 1.6rem);
		border-radius: .8rem;
		width: 100%;
		border-left-color: $color-white;
		border-right-color: $color-white;
		border-top-color: $color-white;
		border-bottom-color: $color-white;
		background-color: $color-gray-light;
		height: 4.8rem;
		outline-color: $color-gray-light !important;

		&::placeholder {
			@include font(1.4, 1.641, $color-gray);
		}
	}

	&__img {
		position: absolute;
		bottom: 1.2rem;
		right: .8rem;
		width: 2.4rem;
	}
}
