$color-primary: #151317;
$color-white: #fff;
$color-black: #000;
$color-violet: #512689;
$color-gray-light: #f8f8f8;
$color-gray: #808185;
$color-error: #FF6161;
$color-gray-opacity-15: #e0e0e0;
$color-shadow: #33333326;
