@import '../../assets/styles/config/_colors.scss';
@import '../../assets/styles/config/_mixins.scss';

.button {
	text-decoration: none;
	cursor: pointer;

	&__header {
		@include font(1.6, 2.179, $color-gray-light);
		@include padd(0.8rem 1.6rem);
		height: 3.8rem;
		background-color: $color-violet;
		border: 1px solid $color-gray-light;
		border-radius: 0.8rem;
	}

	&__back {
		visibility: hidden;
	}	

	&__form {
		@include font(1.6, 2.179, $color-white);
		@include padd(1.3rem 0) {
			margin-top: 2.4rem;
			margin-bottom: 1.6rem;
		};
		display: block;
		width: 100%;
		background-color: $color-violet;		
		border-radius: .8rem;
		text-align: center;
		border: none;

		&_disable {
			opacity: .5;
			pointer-events: none;
			cursor: auto;
			border: none;
		}
	}
}

.visible {
	visibility: visible;
}