@import '../../assets/styles/config/_mixins.scss';

.text {	
	@include font-size(1.6, 2.179);	
	max-width: 63.3rem;	

	@include mq(800) {
		max-width: 100%;
	}

	&__part {
		&:not(:last-child){
			padding-bottom: 2rem;
		}
	}	
}