@import '../../assets/styles/config/_colors';
@import '../../assets/styles/config/_mixins.scss';

.header {
	background-color: $color-violet;
	min-height: 26.5rem;
	max-height: 41.2rem;
	color: $color-white;
	
	&__container {
		@include padd(3.2rem 8rem);
		@include flex(2.8rem) {
			justify-content: space-between;
		};
		height: 100%;

		@include mq(900) {
			@include flex(0);
			@include padd(1.2rem 1.6rem 6.4rem);
		}
	}

	&__content {
		min-width: calc(100% - 18.7rem - 3.2rem);

		@include mq(900) {
			min-width: calc(100% - 18.7rem);
		}
	}

	&__back {
		visibility: hidden;

		&.visible {
			visibility: visible;
		}
	}
}


