@import './assets/styles/config/_colors.scss';
@import './assets/styles/config/_mixins.scss';

html,
body {
	height: 100%;
}

#root {	
	max-width: 144rem;			
  margin: 0 auto;
	@include padd(0);
}

.app {
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	color: $color-primary;
	min-height: 100%;
}