@import '../../assets/styles/config/_mixins.scss';

.contacts {
	@include font(1.6, 2.179);

	&__phone {
		@include flex() {
			align-items: center;
		}
		
		@include padd(0 0 2.5rem 0);
	}

	&__email {
		@include flex() {
			align-items: center;
		}
	}

	&__phone {
		@include flex() {
			align-items: center;
		}
	}

	&__img {
		@include padd(0 1rem 0 0);
	}
}
