@import '../../assets/styles/config/_mixins.scss';

.not-found {
	@include flex($direction: column) {
		justify-content: space-between;
	};	
  max-width: 100%;
  height: 100vh;  
	background-color: $color-violet;

	&__error {
		margin: auto auto;	
	}

	&__code {
		@include font(14, 16.9, $color-gray-light);
	}

	&__text {
		@include font(1.6, 1.9, $color-gray-opacity-15);
		@include padd(.5rem 0 0 0);	
		text-align: center;
	}

	&__link {
		@include font(1.4, 1.7, $color-error);
		@include padd(0 0 6rem 0) {
			margin: 0 auto;
		};	
		display: inline;
		width: 4.2rem;
		transition: all .2s ease;
		cursor: pointer;
	}

	&__link:hover {
		transition: all .2s ease;		
		text-decoration: underline;
	}
}
